@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(styles/header.css);
@import url(styles/sobre-nos.css);
@import url(styles/infos.css);
@import url(styles/vagas.css);

:root{
    --cor-background:#FFFFFF;
    --cor-textos:#667085;
    --cor-logo:#3A404E;
    --fonte-principal: 'Inter', sans-serif;
    --cor-titulo: #8E2424;
    --cor-subtitulo: #101828;
}

*{
    background-color: var(--cor-background);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}